{% extends "base.html" %}
    {% block content %}
        <h1>panel de administrador</h1>
        <p>pagina para administrar eventos: crear - editar - eliminar</p>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/eventos/crear" aria-current="page"
                        >Crear Evento <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/eventos/" aria-current="page"
                        >Editar Evento <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page"
                        >Eliminar Evento <span class="visually-hidden">(current)</span></a
                    >
                </li>
        </nav>
        


      <div class="list-group">
  <a href="/" class="list-group-item list-group-item-action">Inicio</a>
  <a href="/eventos/crear" class="list-group-item list-group-item-action list-group-item-secondary">Crear evento</a>
  <a href="/eventos/" class="list-group-item list-group-item-action list-group-item-success">Editar evento</a>
  <a href="/eventos/" class="list-group-item list-group-item-action list-group-item-danger">Eliminar evento</a>
  <a href="/logout/" class="list-group-item list-group-item-action list-group-item-warning">Cerrar sesion</a>
</div>
    {% endblock %}