{% extends "base.html" %} {% block content%}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <h1>Crear evento</h1>

      {{error}}
      <form id="formCrear" action="/eventos/crear" method="POST" class="card card-body mt-5" enctype="multipart/form-data">
        {% csrf_token %} {{form}}
      </form>
       <button
          class="btn btn-primary mt-3"
          id="btnCrear"
        >
          Crear Evento
        </button>
    </div>
  </div>
</main>

{% endblock%}
