{% extends "base.html" %} {% block content %}

{% if user.is_authenticated %}
<h1>Eventos</h1>
<div class="row">
  <!-- Columna de eventos pendientes -->
  <div class="col-md-6">
    <h2>Pendientes</h2>
    {% for evento in eventos %}
    {% if not evento.checked %}
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          {% if evento.imagen %}
          <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="..." /> 
          {% else %}
          <p>No hay imagen disponible</p>
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ul class="list-group">
              <a class="list-group-item" href="{% url 'evento_detail' evento.id %}">
                <header class="d-flex justify-content-between">
                  <h3 class="fw-bold">{{ evento.titulo }}</h3>
                </header>
                <p>{{ evento.descripción }}</p>
                <p>
                  Categorías:
                  {% for categoria in evento.categorias.all %}
                    {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
                    Sin categorías
                  {% endfor %}
                </p>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Columna de eventos confirmados -->
  <div class="col-md-6">
    <h2>Confirmados</h2>
    {% for evento in eventos %}
    {% if evento.checked %}
    <div class="card mb-3" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          {% if evento.imagen %}
          <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="..." /> 
          {% else %}
          <p>No hay imagen disponible</p>
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ul class="list-group">
              <a class="list-group-item" href="{% url 'evento_detail' evento.id %}">
                <header class="d-flex justify-content-between">
                  <h3 class="fw-bold">{{ evento.titulo }}</h3>
                </header>
                <p>{{ evento.descripción }}</p>
                <p>
                  Categorías:
                  {% for categoria in evento.categorias.all %}
                    {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
                    Sin categorías
                  {% endfor %}
                </p>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% else %}
<h1>Eventos</h1>

{% for evento in eventos %}
{% if evento.checked %}

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      {% if evento.imagen %}
      <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="..." /> 
      {% else %}
      <p>No hay imagen disponible</p>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-group">
          <a class="list-group-item" href="{% url 'evento_detail' evento.id %}">
            <header class="d-flex justify-content-between">
              <h3 class="fw-bold">{{ evento.titulo }}</h3>
            </header>
            <p>{{evento.descripción }}</p>
            <p>
              Categorías:
              {% for categoria in evento.categorias.all %}
                {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                Sin categorías
              {% endfor %}
            </p>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}