{% extends "base.html" %}
{% block content %}

<style>
    .border-custom {
        border: 10px solid #186DC2; /* Define el color y grosor del borde */
    }
</style>

<h1 class="text-center">Perfil de usaurio</h1>

<main class="container">
    <div class="row">
       <div class="col-md-4 offset-md-4 d-flex flex-column align-items-center  border-custom">
        {% if imagen %}
            <img src="{{ imagen }}" alt="profile_photo" class="img-fluid rounded-circle" width="400px">
        {% else %}
            <p>no hay foto</p>
        <!-- <img src="https://via.placeholder.com/200 "alt="profile_photo" class="img-fluid rounded-circle" width="200px"> -->
        {% endif %}

        <p><strong>Nombre de usaurio:</strong>{{user.username}}</p>
        <p><strong>Password:</strong>*******</p>

        <div class="d-flex flex-column align-items-center mt-3">
            <button type="submit" class="btn btn-success mt-1">Guardar cambios</button>
            <button type="submit" class="btn btn-danger mt-1">Eliminar usuario</button>
            <a href="{% url 'administrador'%}" class="btn btn-primary mt-1 mb-3 w-100">Volver</a>
        </div>
       </div>

      
    </div>
    
</main>

{% endblock %}